<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
    <h1>Hello there! esto fue lo que ocurrio: </h1>
    <br>
    <p><%= mssg %></p>
    <a href="/tasa/cambio">Aceptar</a>
<%- include('../partials/foot'); %>