<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

    <div class="container">
        <div class="card" style="margin-top: 6%;">
            <div class="card-header">
              QS
            </div>
            <div class="card-body">
                <form action="/moneda/filtrar" method="POST">
                    <div class="mb-3">
                      <label for="fi" class="form-label">Fecha inicial</label>
                      <input type="date" class="form-control" id="fi" name="fi">
                    </div>
                    <div class="mb-3">
                      <label for="ff" class="form-label">Facha final</label>
                      <input type="date" class="form-control" id="ff" name="ff">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </form>
            </div>
          </div>
    </div>
<%- include('../partials/foot'); %>