<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

    <div class="container">
        <div class="card" style="margin-top: 6%;">
            <div class="card-header">
              QS
            </div>
            <div class="card-body">
              <h5 class="card-title">Consultas</h5>
              <p class="card-text">Deseas ver la tasa de cambio para Guatemala y Costa Rica?</p>
              <a href="/tasa/cambio" class="btn btn-primary">Presiona aqui</a>
            </div>
          </div>
    </div>
<%- include('../partials/foot'); %>